<% @movie.comments.each do |c| %>
<hr>
  <div class="row">
    <div class="col-md-4">
      <dl class="dl-vertical">

        <dt>User: <%= c.user.username %></dt>
        <dd><%= c.created_at %></dd>
        <dt>Comment:</dt>
        <dd><p style= "word-wrap: break-word;"><%= c.content %></p></dd>
      </dl>
        <% if user_signed_in? && (c.user == current_user) %>
          <p>
          (<%= link_to "Bearbeiten", edit_comment_path(c) %>) oder
          (<%= link_to "Loeschen", comment_path(c), method: :delete, data: {confirm: 'Sicher?'} %>)
          </p>
        <% end %>
    </div>
  </div>
<% end %>