<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <dl class="dl-horizontal">
        <dt>Title</dt>
        <dd><%= movie.title %></dd>
        <dt>Jahr</dt>
        <dd><%= movie.year %></dd>
        <dt>HauptGenre</dt>
        <dd><%= movie.m_genre %></dd>
        <dt>Genre</dt>
        <dd><%= movie.genre %></dd>
        <dt>Schauspieler</dt>
        <dd><%= movie.actor %></dd>
        <dt>Rating</dt>
        <dd><%= movie.average_rating %></dd>

        <% if user_signed_in? %>
          <dt>Eigenes Rating</dt>
            <% if !current_user.has_rated? movie %> 
              <dd> <%= render partial: 'ratings/form', locals: {movie: movie} %></dd>
            <% else %>
              <dd><p>Bereits Bewertet</p></dd>
            <% end %>
        <% end %>
        
      </dl>
    </div>

    <div class="col-md-6">
      <p>  
        
        <button class="btn btn-link" data-toggle="modal" data-target="#bigPicture_<%= movie.id %>">
          <%= image_tag("#{movie.avatar.url(:thumb)}") %>
        </button>
  
        <div class="modal fade sm" id="bigPicture_<%= movie.id %>" tabindex="-1" role="dialog" aria-labelledby="bigPicture" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body" align="center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <%= image_tag("#{movie.avatar.url}") %>
              </div>            
            </div>
          </div>
        </div>

      </p>
    </div> 
  </div>
    <dl class="dl-horizontal">
      <dt>Hab Ich gesehen</dt>
      <dd><input type="checkbox"</dd>
      
      <dt>Will Ich sehen</dt>
      <dd><input type="checkbox"></dd>
    </dl>
</div>