<h2>Komplette Datenbank</h2>
<div class="panel-group" id="accordion">
<% @movies.each do |movie| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#movie_<%= movie.id %>">
          <%= movie.title %>
        </a>
      </h4>
    </div>
    <div id="movie_<%= movie.id %>" class="panel-collapse collapse out">
      <div class="panel-body">
      <% @movie = movie %>
        <%= render partial: "movie", locals: {movie: movie} %>
        <br>
        <% if user_signed_in? && current_user.is_moderator? %>
        <p>(<%= link_to "Edit", edit_movie_path(movie) %>)</p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>