<%= render partial: "movie", locals: {movie: @movie} %>
<br><br>
<h4>Kommentare:</h4>

<% if user_signed_in? %>
  <%= link_to "Neuer Kommentar", new_comment_path(movie_id: @movie.id) %>
  <%= render 'comment', locals: {movie: @movie} %>
<% else %>
  <p>Zum ansehen bitte <%= link_to "Einloggen", user_session_path %> oder <%= link_to "Registrieren", new_user_registration_path %>.</p>
<% end %>