<% @title = "Home" %>

<% if user_signed_in? %>
  <p><%= link_to "Meine Filme", movies_path %></p>
  <br><br>
  <p><%= link_to "Abmelden", destroy_user_session_url, method: :delete %></p>
<% else %>
  <p>
  <%= link_to "Anmelden", new_user_session_path %>
   oder  
  <%= link_to "Benutzerkonto erstellen", new_user_registration_path %>
  </p>
<% end %>
<h3>Zuletzt hinzugefuegt:</h3>

<ul>
  <% @movies.each do |movie| %>
    <li>
      <%= movie.title %>
    </li>
  <% end %>
</ul>
<% if !user_signed_in? %>
  <h4><%= link_to "Komplette Datenbank einsehen", movies_path %></h4> <!--TODO Korrekter Link-->
<% end %>