<h1>Listing video_dbs</h1>

<table>
  <thead>
    <tr>
      <th> title</th>
      <th>Year</th>
      <th>Actor</th>
      <th>Maingenere</th>
      <th>Genere</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @video_dbs.each do |video_db| %>
      <tr>
        <td><%= video_db. title %></td>
        <td><%= video_db.year %></td>
        <td><%= video_db.actor %></td>
        <td><%= video_db.maingenere %></td>
        <td><%= video_db.genere %></td>
        <td><%= link_to 'Show', video_db %></td>
        <td><%= link_to 'Edit', edit_video_db_path(video_db) %></td>
        <td><%= link_to 'Destroy', video_db, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video db', new_video_db_path %>
